<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Documentation</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>API Documentation</h1>
    <p class="lead">This page will contain information regarding the API of this service.</p>
    <p>No information is yet available, since there isn't anything implemented yet. Watch this space though :)</p>
</div>

<script src="/js/vendor/jquery-1.11.1.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
</body>
</html>